@model IList<OrderIndexViewModel>

@{
    ViewData["Title"] = "Home Page";
    ViewData["Type"] = "Order";
    ViewData["Title"] = "Quản lý đơn hàng";
    ViewData["Column"] = new string[] {
        "Mã đơn hàng",
        "Trạng thái",
        "Thời gian đặt",
        "Thời gian xử lý lần cuối",
        "Người mua",
        "Người xử lý",
        "Tổng giá",
        "Tổng số lượng"
    };
    
}

@{
    Layout = "_AdminLayout";
}

@using (Html.BeginForm("Index", "Order", FormMethod.Post))
{
<div class="d-flex flex-column p-3 h-100">
    <div class="d-flex justify-content-between align-items-center">
        <p class="h3 m-0"> @ViewData["Title"] </p>

        <div>
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Search", "Order")'"> <i class="fs-5 bi bi-search"></i> </button>
            <button type="submit" value="info" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-info-lg"></i> </button>
            <button type="submit" value="check" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-shield-check"></i> </button>
            <button type="submit" value="approve" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-clipboard-check"></i> </button>
            <button type="submit" value="delete" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-trash-fill"></i> </button>
        </div>
    </div>

    <hr />

    <div class="mb-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    @foreach (string column in (string[]) @ViewData["Column"])
                    {
                        <th scope="col">@column</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                        
                       
                      
                     <tr>
                        <td>@Html.CheckBoxFor(m => @obj.Checked, new { @class="form-check-input" }) </td>
                            <td>@Html.HiddenFor(m => @obj.OrderId) @Html.DisplayFor(m => @obj.OrderId)</td>
                            <td>
                            @{
                                if (@obj.EndStatus?.StatusId > 6)
                                {
                                        <span class="btn btn-warning fw-bold">@Html.HiddenFor(m => @obj.EndStatus!.Display) @Html.DisplayFor(m => @obj.EndStatus!.Display)</span>
                                }
                                else if (@obj.EndStatus?.StatusId < 6)
                                {
                                        <span class="btn btn-danger text-white fw-bold">@Html.HiddenFor(m => @obj.EndStatus!.Display) @Html.DisplayFor(m => @obj.EndStatus!.Display)</span>
                                } else {
                                    <span class="btn btn-success text-white fw-bold">@Html.HiddenFor(m => @obj.EndStatus!.Display) @Html.DisplayFor(m => @obj.EndStatus!.Display)</span>
                                }
                             }
                             </td>
                            <td>@Html.HiddenFor(m => @obj.StartStatusDetail.TimeCreated) @Html.DisplayFor(m => @obj.StartStatusDetail.TimeCreated)</td>
                            @{
                                ViewData["LastTime"] = "Chưa xử lý";
                                if (@obj.EndStatusDetail?.StatusId != 1)
                                {
                                    <td>@Html.HiddenFor(m => @obj.EndStatusDetail.TimeCreated) @Html.DisplayFor(m => @obj.EndStatusDetail.TimeCreated)</td>
                                } else {
                                    <td>@Html.HiddenFor(m => ViewData["LastTime"]) @ViewData["LastTime"]</td>
                                }
                            }
                            
                            <td>@Html.HiddenFor(m => @obj.CustomerUsername) @Html.DisplayFor(m => @obj.CustomerUsername)</td>
                            <td>@Html.HiddenFor(m => @obj.HandlerUsername) @Html.DisplayFor(m => @obj.HandlerUsername)</td>
                        <td>@Html.HiddenFor(m => @obj.TotalPrice) @Html.DisplayFor(m => @obj.TotalPrice)</td>
                        <td>@Html.HiddenFor(m => @obj.Quantity) @Html.DisplayFor(m => @obj.Quantity)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />
</div>
}
