@model IList<UserIndexViewModel>

@{
    ViewData["Title"] = "Home Page";
    ViewData["Type"] = "User";
    ViewData["Title"] = "Quản lý tài khoản";
    ViewData["Column"] = new string[] {
        "Tên tài khoản",
        "Nhóm tài khoản",
        "Họ tên",
        "Ngày sinh",
        "Địa chỉ",
        "Điện thoại",
        "Thư điện tử"
    };
}

@{
    Layout = "_AdminLayout";
}

@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
<div class="d-flex flex-column p-3 h-100">
    <div class="d-flex justify-content-between align-items-center">
        <p class="h3 m-0"> @ViewData["Title"] </p>

        <div>
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Search", "User")'"> <i class="fs-5 bi bi-search"></i> </button>
            <button type="submit" value="info" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-info-lg"></i> </button>
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create", "User")'"> <i class="fs-5 bi bi-plus-lg"></i> </button>
            <button type="submit" value="edit" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-pencil-fill"></i> </button>
            <button type="submit" value="permission" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-list-check"></i> </button>
            <button type="submit" value="delete" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-trash-fill"></i> </button>
        </div>
    </div>

    <hr />

    <div class="mb-auto table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    @foreach (string column in (string[])@ViewData["Column"])
                    {
                        <th scope="col">@column</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(m => m[i].Checked, new { @class="form-check-input" }) </td>
                        <td>@Html.HiddenFor(m => m[i].Username) @Html.DisplayFor(m => m[i].Username)</td>
                        <td>@Html.HiddenFor(m => m[i].GroupDisplay) @Html.DisplayFor(m => m[i].GroupDisplay)</td>
                        <td>@Html.HiddenFor(m => m[i].Fullname) @Html.DisplayFor(m => m[i].Fullname)</td>
                        <td>@Html.HiddenFor(m => m[i].Birth) @Model[i].Birth.ToShortDateString() </td>
                        <td>@Html.HiddenFor(m => m[i].Address) @Html.DisplayFor(m => m[i].Address)</td>
                        <td>@Html.HiddenFor(m => m[i].Phone) @Html.DisplayFor(m => m[i].Phone)</td>
                        <td>@Html.HiddenFor(m => m[i].Email) @Html.DisplayFor(m => m[i].Email)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />
</div>
}