@model IList<BaseIndexViewModel>

@{
    ViewData["Title"] = "Home Page";
    ViewData["Type"] = "Base";
    ViewData["Title"] = "Quản lý đế bánh";
    ViewData["Column"] = new string[] {
        "Mã đế bánh",
        "Tên đế bánh",
    };
}

@{
    Layout = "_AdminLayout";
}

@using (Html.BeginForm("Index", "Base", FormMethod.Post))
{
<div class="d-flex flex-column p-3 h-100">
    <div class="d-flex justify-content-between align-items-center">
        <p class="h3 m-0"> @ViewData["Title"] </p>

        <div>
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Search", "Base")'"> <i class="fs-5 bi bi-search"></i> </button>
            <button type="submit" value="info" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-info-lg"></i> </button>
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create", "Base")'"> <i class="fs-5 bi bi-plus-lg"></i> </button>
            <button type="submit" value="edit" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-pencil-fill"></i> </button>
            <button type="submit" value="delete" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-trash-fill"></i> </button>
        </div>
    </div>

    <hr />

    <div class="mb-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    @foreach (string column in (string[]) @ViewData["Column"])
                    {
                        <th scope="col">@column</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(m => m[i].Checked, new { @class="form-check-input" }) </td>
                        <td>@Html.HiddenFor(m => m[i].BaseId) @Html.DisplayFor(m => m[i].BaseId)</td>
                        <td>@Html.HiddenFor(m => m[i].Display) @Html.DisplayFor(m => m[i].Display)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />
</div>
}