@model IList<PizzaIndexViewModel>

@{
    ViewData["Title"] = "Home Page";
    ViewData["Type"] = "Pizza";
    ViewData["Title"] = "Quản lý bánh pizza";
    ViewData["Column"] = new string[] {
        "Mã bánh",
        "Ảnh",
        "Tên bánh",
        "Danh mục",
        "Mô tả"
    };
}

@{
    Layout = "_AdminLayout";
}

@using (Html.BeginForm("Index", "Pizza", FormMethod.Post))
{
<div class="d-flex flex-column p-3 h-100">
    <div class="d-flex justify-content-between align-items-center">
        <p class="h3 m-0"> @ViewData["Title"] </p>

        <div>
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Search", "Pizza")'"> <i class="fs-5 bi bi-search"></i> </button>
            <button type="submit" value="info" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-info-lg"></i> </button>
            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create", "Pizza")'"> <i class="fs-5 bi bi-plus-lg"></i> </button>
            <button type="submit" value="edit" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-pencil-fill"></i> </button>
            <button type="submit" value="delete" name="buttonType" class="btn btn-dark"> <i class="fs-5 bi bi-trash-fill"></i> </button>
        </div>
    </div>

    <hr />

    <div class="mb-auto table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    @foreach (string column in (string[])@ViewData["Column"])
                    {
                        <th scope="col">@column</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(m => m[i].Checked, new { @class="form-check-input" }) </td>
                        <td>@Html.HiddenFor(m => m[i].PizzaId) @Html.DisplayFor(m => m[i].PizzaId)</td>
                        <td>
                            <img style="width: 100px; height: 100px" src="@Url.Content(Model[i].ImageUrl)" alt="image" />
                        </td>
                        <td>@Html.HiddenFor(m => m[i].Display) @Html.DisplayFor(m => m[i].Display)</td>
                        <td>@Html.HiddenFor(m => m[i].CategoryDisplay) @Html.DisplayFor(m => m[i].CategoryDisplay)</td>
                        <td>@Html.HiddenFor(m => m[i].Description) @Html.DisplayFor(m => m[i].Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />
</div>
}